# HR Analytics

<img src = 'https://datahack-prod.s3.ap-south-1.amazonaws.com/__sized__/contest_cover/hr_1920x480_s5WuoZs-thumbnail-1200x1200-90.jpg'>

Practice Problem: https://datahack.analyticsvidhya.com/contest/wns-analytics-hackathon-2018-1/

## HR Analytics

HR analytics is revolutionising the way human resources departments operate, leading to higher efficiency and better results overall. Human resources has been using analytics for years. However, the collection, processing and analysis of data has been largely manual, and given the nature of human resources dynamics and HR KPIs, the approach has been constraining HR. Therefore, it is surprising that HR departments woke up to the utility of machine learning so late in the game. Here is an opportunity to try predictive analytics in identifying the employees most likely to get promoted.

## Problem Statement

Your client is a large MNC and they have 9 broad verticals across the organisation. One of the problem your client is facing is around identifying the right people for promotion *(only for manager position and below)* and prepare them in time. Currently the process, they are following is:

* They first identify a set of employees based on recommendations/ past performance
* Selected employees go through the separate training and evaluation program for each vertical. These programs are based on the required skill of each vertical
* At the end of the program, based on various factors such as training performance, KPI completion (only employees with KPIs completed greater than 60% are considered) etc., employee gets promotion

For above mentioned process, the final promotions are only announced after the evaluation and this leads to delay in transition to their new roles. Hence, company needs your help in identifying the eligible candidates at a particular checkpoint so that they can expedite the entire promotion cycle.

<img src = 'https://s3-ap-south-1.amazonaws.com/av-blog-media/wp-content/uploads/2018/09/wns_hack_im_1.jpg'>

They have provided multiple attributes around Employee's past and current performance along with demographics. Now, The task is to predict whether a potential promotee at checkpoint in the test set will be promoted or not after the evaluation process.

## Evaluation Metric

The evaluation metric for this competition is F1 Score.

## Public and Private Split

Test data is further randomly divided into Public (40%) and Private (60%) data.

Your initial responses will be checked and scored on the Public data.
The final rankings would be based on your private score which will be published once the competition is over.

## Entorno

In [1]:
import sys
sys.version

'3.6.12 |Anaconda, Inc.| (default, Sep  8 2020, 17:50:39) \n[GCC Clang 10.0.0 ]'

In [2]:
!conda info --envs

# conda environments:
#
micromaster              /Users/manuel/.conda/envs/micromaster
                         /Users/manuel/.julia/conda/3
base                     /Users/manuel/opt/anaconda3
belcorp                  /Users/manuel/opt/anaconda3/envs/belcorp
courseragcp              /Users/manuel/opt/anaconda3/envs/courseragcp
iapucp                *  /Users/manuel/opt/anaconda3/envs/iapucp
mitxpro                  /Users/manuel/opt/anaconda3/envs/mitxpro
style-transfer           /Users/manuel/opt/anaconda3/envs/style-transfer
taller-dmc               /Users/manuel/opt/anaconda3/envs/taller-dmc
udacity                  /Users/manuel/opt/anaconda3/envs/udacity

## Paquetes

In [24]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import os
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm, tqdm_notebook
from pathlib import Path
import random
import warnings
import pickle

warnings.filterwarnings('ignore')

seed = 2020
random.seed(seed)

pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 400)
sns.set()

DATA = Path('../../data') 
RAW  = DATA/'raw'
PROCESSED = DATA/'processed'
DESCRIPTIVES = DATA/'descriptives'
SUBMISSIONS = DATA/'submissions'    

MODEL = Path('../../model')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
pd.__version__

'1.1.3'

In [26]:
np.__version__

'1.19.1'

In [27]:
sklearn.__version__

'0.23.2'

## Lectura de datos

In [28]:
os.listdir(RAW)

['variables.txt',
 '.DS_Store',
 'preprocess_v1_train.csv',
 'test_2umaH9m.csv',
 'preprocess_v2_train.csv',
 'preprocess_v2_val.csv',
 'train_LZdllcl.csv',
 'preprocess_v1_val.csv']

In [29]:
df_train = pd.read_csv(f'{RAW}/train_LZdllcl.csv')
df_test = pd.read_csv((f'{RAW}/test_2umaH9m.csv'))

In [30]:
df_train.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [31]:
id_columns = 'employee_id'
target = 'is_promoted'

# Descriptives

* train / val split con 20% val
* imputación con media y mediana para continuas, categóricas con creación de flag de missing
* capeo de outliers ratio 1.5

## Holdout train validation

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
X = df_train.drop(target, axis = 1).drop(id_columns, axis = 1)
y = df_train[target]

In [34]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.20, random_state = seed, stratify = y)

In [35]:
X_train.shape, X_val.shape

((43846, 12), (10962, 12))

In [36]:
X_val.shape[0] / X_train.shape[0]

0.25001140354878437

In [37]:
y_train.mean(), y_val.mean()

(0.08516170232176254, 0.08520343003101624)

## Info

In [38]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43846 entries, 35058 to 32561
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   department            43846 non-null  object
 1   region                43846 non-null  object
 2   education             41951 non-null  object
 3   gender                43846 non-null  object
 4   recruitment_channel   43846 non-null  object
 5   no_of_trainings       43846 non-null  int64
 6   age                   43846 non-null  int64
 7   previous_year_rating  40564 non-null  float64
 8   length_of_service     43846 non-null  int64
 9   KPIs_met >80%         43846 non-null  int64
 10  awards_won?           43846 non-null  int64
 11  avg_training_score    43846 non-null  int64
dtypes: float64(1), int64(6), object(5)
memory usage: 4.3+ MB

## Simple preproc

In [39]:
X_train['gender'].unique()

array(['m', 'f'], dtype=object)

In [40]:
X_train['gender'] = np.where(X_train['gender'] == 'm', 1, 0)

## Descriptives

In [41]:
descriptives = pd.DataFrame()
descriptives['nulls'] = null_values = X_train.isnull().sum()
descriptives['pct_nulls'] = pct_nulls = X_train.isnull().mean()
descriptives['pct_ceros'] = X_train.isnull().mean()

descriptives

                      nulls  pct_nulls  pct_ceros
department                0   0.000000   0.000000
region                    0   0.000000   0.000000
education              1895   0.043219   0.043219
gender                    0   0.000000   0.000000
recruitment_channel       0   0.000000   0.000000
no_of_trainings           0   0.000000   0.000000
age                       0   0.000000   0.000000
previous_year_rating   3282   0.074853   0.074853
length_of_service         0   0.000000   0.000000
KPIs_met >80%             0   0.000000   0.000000
awards_won?               0   0.000000   0.000000
avg_training_score        0   0.000000   0.000000

In [42]:
percentiles = list(np.arange(0.1, 0.9, 0.1)) + list(np.arange(0.9, 1.0, 0.01))

In [43]:
distributions = X_train.describe(percentiles = percentiles, include = 'all')
distributions

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
count,43846,43846,41951,43846.000000,43846,43846.000000,43846.000000,40564.000000,43846.000000,43846.000000,43846.000000,43846.000000
unique,9,34,3,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Sales & Marketing,region_2,Bachelor's,NaN,other,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,13481,9816,29370,NaN,24400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,0.702048,NaN,1.251950,34.820873,3.331994,5.873649,0.352050,0.022921,63.383957
std,NaN,NaN,NaN,0.457363,NaN,0.610654,7.673484,1.260902,4.281273,0.477615,0.149654,13.356721
min,NaN,NaN,NaN,0.000000,NaN,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,40.000000
10%,NaN,NaN,NaN,0.000000,NaN,1.000000,27.000000,1.000000,2.000000,0.000000,0.000000,48.000000
20%,NaN,NaN,NaN,0.000000,NaN,1.000000,28.000000,2.000000,2.000000,0.000000,0.000000,50.000000
30%,NaN,NaN,NaN,1.000000,NaN,1.000000,30.000000,3.000000,3.000000,0.000000,0.000000,53.000000
40%,NaN,NaN,NaN,1.000000,NaN,1.000000,32.000000,3.000000,4.000000,0.000000,0.000000,58.000000
50%,NaN,NaN,NaN,1.000000,NaN,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000
60%,NaN,NaN,NaN,1.000000,NaN,1.000000,35.000000,4.000000,6.000000,0.000000,0.000000,64.000000
70%,NaN,NaN,NaN,1.000000,NaN,1.000000,37.000000,4.000000,7.000000,1.000000,0.000000,71.000000
80%,NaN,NaN,NaN,1.000000,NaN,1.000000,40.000000,5.000000,8.000000,1.000000,0.000000,79.000000
90%,NaN,NaN,NaN,1.000000,NaN,2.000000,46.000000,5.000000,11.000000,1.000000,0.000000,83.000000
91%,NaN,NaN,NaN,1.000000,NaN,2.000000,47.000000,5.000000,12.000000,1.000000,0.000000,84.000000
92%,NaN,NaN,NaN,1.000000,NaN,2.000000,48.000000,5.000000,12.000000,1.000000,0.000000,84.000000
93%,NaN,NaN,NaN,1.000000,NaN,2.000000,49.000000,5.000000,13.000000,1.000000,0.000000,85.000000
94%,NaN,NaN,NaN,1.000000,NaN,2.000000,50.000000,5.000000,14.000000,1.000000,0.000000,85.000000
95%,NaN,NaN,NaN,1.000000,NaN,2.000000,51.000000,5.000000,15.000000,1.000000,0.000000,86.000000
96%,NaN,NaN,NaN,1.000000,NaN,3.000000,52.000000,5.000000,16.000000,1.000000,0.000000,86.000000
97%,NaN,NaN,NaN,1.000000,NaN,3.000000,54.000000,5.000000,17.000000,1.000000,0.000000,87.000000
98%,NaN,NaN,NaN,1.000000,NaN,3.000000,56.000000,5.000000,18.000000,1.000000,1.000000,88.000000
99%,NaN,NaN,NaN,1.000000,NaN,4.000000,58.000000,5.000000,20.000000,1.000000,1.000000,91.000000
max,NaN,NaN,NaN,1.000000,NaN,10.000000,60.000000,5.000000,34.000000,1.000000,1.000000,99.000000

In [44]:
total_descriptives = pd.concat([descriptives.T, distributions])
total_descriptives

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
nulls,0,0,1895,0.000000,0,0.000000,0.000000,3282.000000,0.000000,0.000000,0.000000,0.000000
pct_nulls,0,0,0.0432194,0.000000,0,0.000000,0.000000,0.074853,0.000000,0.000000,0.000000,0.000000
pct_ceros,0,0,0.0432194,0.000000,0,0.000000,0.000000,0.074853,0.000000,0.000000,0.000000,0.000000
count,43846,43846,41951,43846.000000,43846,43846.000000,43846.000000,40564.000000,43846.000000,43846.000000,43846.000000,43846.000000
unique,9,34,3,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Sales & Marketing,region_2,Bachelor's,NaN,other,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,13481,9816,29370,NaN,24400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,0.702048,NaN,1.251950,34.820873,3.331994,5.873649,0.352050,0.022921,63.383957
std,NaN,NaN,NaN,0.457363,NaN,0.610654,7.673484,1.260902,4.281273,0.477615,0.149654,13.356721
min,NaN,NaN,NaN,0.000000,NaN,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,40.000000
10%,NaN,NaN,NaN,0.000000,NaN,1.000000,27.000000,1.000000,2.000000,0.000000,0.000000,48.000000
20%,NaN,NaN,NaN,0.000000,NaN,1.000000,28.000000,2.000000,2.000000,0.000000,0.000000,50.000000
30%,NaN,NaN,NaN,1.000000,NaN,1.000000,30.000000,3.000000,3.000000,0.000000,0.000000,53.000000
40%,NaN,NaN,NaN,1.000000,NaN,1.000000,32.000000,3.000000,4.000000,0.000000,0.000000,58.000000
50%,NaN,NaN,NaN,1.000000,NaN,1.000000,33.000000,3.000000,5.000000,0.000000,0.000000,60.000000
60%,NaN,NaN,NaN,1.000000,NaN,1.000000,35.000000,4.000000,6.000000,0.000000,0.000000,64.000000
70%,NaN,NaN,NaN,1.000000,NaN,1.000000,37.000000,4.000000,7.000000,1.000000,0.000000,71.000000
80%,NaN,NaN,NaN,1.000000,NaN,1.000000,40.000000,5.000000,8.000000,1.000000,0.000000,79.000000
90%,NaN,NaN,NaN,1.000000,NaN,2.000000,46.000000,5.000000,11.000000,1.000000,0.000000,83.000000
91%,NaN,NaN,NaN,1.000000,NaN,2.000000,47.000000,5.000000,12.000000,1.000000,0.000000,84.000000
92%,NaN,NaN,NaN,1.000000,NaN,2.000000,48.000000,5.000000,12.000000,1.000000,0.000000,84.000000
93%,NaN,NaN,NaN,1.000000,NaN,2.000000,49.000000,5.000000,13.000000,1.000000,0.000000,85.000000
94%,NaN,NaN,NaN,1.000000,NaN,2.000000,50.000000,5.000000,14.000000,1.000000,0.000000,85.000000
95%,NaN,NaN,NaN,1.000000,NaN,2.000000,51.000000,5.000000,15.000000,1.000000,0.000000,86.000000
96%,NaN,NaN,NaN,1.000000,NaN,3.000000,52.000000,5.000000,16.000000,1.000000,0.000000,86.000000
97%,NaN,NaN,NaN,1.000000,NaN,3.000000,54.000000,5.000000,17.000000,1.000000,0.000000,87.000000
98%,NaN,NaN,NaN,1.000000,NaN,3.000000,56.000000,5.000000,18.000000,1.000000,1.000000,88.000000
99%,NaN,NaN,NaN,1.000000,NaN,4.000000,58.000000,5.000000,20.000000,1.000000,1.000000,91.000000
max,NaN,NaN,NaN,1.000000,NaN,10.000000,60.000000,5.000000,34.000000,1.000000,1.000000,99.000000

In [46]:
total_descriptives.to_csv(f'{DESCRIPTIVES}/descriptives.csv')